*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;

}
:root{
    width: 100%;
    height: 100%;
}
header{
    width: 100%;
    height: 5rem;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;

}
header .navbar{
    
    width: 50%;
    height: 100%;
}

.logo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
h1 span{
    color:  white;
}
h1 {
    color: #002EF0;
    font-style: italic;
    text-align: center;
    width: 20%;
    height: 100%;
    
}


.list{
    width: 100%;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content:space-evenly;
    font-size: 20px;
    list-style: none;

}
.list li a{
    text-decoration: none;
    color: white;
}


.GitHub-logo {
    width: 40px; 
    height: 40px;
    border-radius: 50%; 
    transition: transform 0.3s ease; 
    background-color: white;
    border: 0;
  }
  
  .GitHub-logo:hover {
    transform: scale(1.1); 
  }

  



/* main Home */



#main{
    min-height: 80%;
    position: relative;
 
}

video {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
    mix-blend-mode: overlay;

}

.Tittle-Main{
    width: 100%;
    color: #002EF0;
    font-style: italic;
    font-size: 40px;
    
  }
  
  .informationMain{
    z-index: 2;
    position: relative;
    width: 100%;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    

  }
  .ContentMain{
    width: 100%;
    height: 100%;
    color: white;
 

  }

  .imgPhoto{
    width: 6cm;
    height: 6cm;
    background: url(../public/profile.png) center center ;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 26px #002EF0;

  }

  .informateText{
    width: 40%;
    min-height: 100%;

  }
  .containerPhoto{
    width: 30%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  /* Footer  */

  
.footer{
  width: 100%;
  min-height: 17.3vh;
  background-color: rgb(0, 0, 0);
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 15px 0;
  gap: 10px;
  font-style: italic;
  font-family:Arial, Helvetica, sans-serif ;
  font-size: 0.8em;
}
.social-icon{
  width: 2.5rem;
}
.github{

  background-image: url(../public/github.png) center center;
  background-size: cover;
  border-radius: 50%;
  background-color: white;
  padding: 1px 1px;
}
.social-links{
  width:30%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer h3{
  width: 50%;
}